version: '3.8'

services:
  ros2-turtlebot4:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: turtlebot4-dev

    network_mode: host
    privileged: true

    volumes:
      - ./:/workspace
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/home/ros/.Xauthority:ro
      - ${HOME}/.ssh:/home/ros/.ssh:ro
      - /dev/input:/dev/input

    environment:
      - DISPLAY=${DISPLAY}
      - ROS_DOMAIN_ID=0
      # TurtleBot4 uses FastRTPS by default - must match for bidirectional comms
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - FASTRTPS_DEFAULT_PROFILES_FILE=/workspace/fastrtps.xml
      - QT_X11_NO_MITSHM=1

    user: "ros"

    command: /bin/bash -c "while sleep 1000; do :; done"

    working_dir: /workspace
